

body {
  
}

html,body {
    height:100%;
    margin:0;
    padding:0;
}

#content {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 90%;
  box-sizing: border-box;
  position:relative;

}

footer {
  position: relative;
  display:block;
  bottom: 0;
  left:0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}


/*IMAGE UPLOAD FORM */

#thumbnil{
    width:100%;
}
#thumbnil>img {
    width:100%;
}

#thumbnil>.close{
    position: relative;
    right: 10px;
    top:20px;
}

.hidden {
    display: none;
}

textarea[name="comment"]{
    width:50% ;
    transition: all 0.5s;
}



textarea[name="comment"]:focus {
    width:80%!important;
    height:7em;
}

.error_msg{
color:red;
font-size: 16px;
}

.jumbotron{
    margin-top: 40px;
    background: url("../images/polaroid1.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 500px;
text-align: center;

}

#main{
width:960px;
margin:50px auto;
font-family:raleway, sans-serif;
}

h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;

}

#login{
background-color: WHITE;
width:300px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 30px;
margin-right: 70px;

}

#login input[type=text], #login input[type=password], #login input[type=email]{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}

#login input[type=submit]{
width: 100%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
}

#profile{
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}

#logout{
float:right;
padding:5px;
border:dashed 1px gray;

margin-top: -168px;
}

a{
text-decoration:none;
color: cornflowerblue;
}


i{
color: cornflowerblue;
}




/* CANVAS CSS */


.thumb{
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-sizing:initial;
}

.thumb:before{content:"";display:block;margin-top:100%;}

.thumb > img{

    width: 100%;

    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

#canvas_imgTools {
    position: absolute;
}


images .img_dragging {
    opacity: 0.4;
}

canvas-container.over {
    border: 5px dashed cyan;
}

/*
Styles below based on  http://www.html5rocks.com/en/tutorials/dnd/basics/
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;

}

#canvas-container {
    position: relative;
    width: 810px;
    height: 610px;
    margin: 10px auto;
    box-shadow: 0 0 5px 1px black;
    border: 5px solid transparent;
    background-color: white;
}

#canvas-buttons {
    position: relative;
    margin: 10px auto;
    width: 600px;
}
#canvas-images {
  /*  position: relative;
    margin: 10px auto;
    width: 600px;*/
}

.firstrow {

    margin-top: 100px;
    height: 50%;


    }

#images{

    padding: 20px;
    text-align:center;
    align-items: center;
    justify-content: center;

}


/*YOUR GARMENTS*/

.thumbnail{

}

#infobox{
    font-size: 15px;
    position:absolute;

}



#imagediv {

    text-align:center;
    background-color: white;
    height: 100%;
    margin: auto;
    width: 50%;

}

